<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>BilaTserkva.info</title>

        <link rel="stylesheet" href="assets/stylesheets/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="assets/stylesheets/common.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="assets/stylesheets/common.red.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="assets/stylesheets/common.blue.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="assets/stylesheets/print.css" type="text/css" media="print">
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="assets/stylesheets/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
    </head>
    <body>

        <div id="jm-top" class="append-bottom">

            <div class="container">

                <div id="jm-info" class="jm-light hide">

                    <div class="right jm-dark">
                        <a href="#" class="left clearfix">Регистрация</a>
                        <span class="left clearfix">|</span>
                        <a href="#" class="left clearfix">Вход</a>
                    </div>

                    <ul class="jm-menu">
                        <li><a href="#">Реклама</a></li>
                        <li><a href="#">Обратная связь</a></li>
                        <li><a href="#">Архив</a></li>
                        <li><a href="#">Подписки</a></li>
                    </ul>

                    <div class="clear"></div>

                </div>

                <hr class="space">

                <div class="clearfix">

                    <div class="span-6">
                        <img src="assets/images/blue/logo.png" width="" height="">
                    </div>

                    <div class="span-10 jm-dark">
                        <form id="jm-search" action="#" method="get">

                            <div class="span-7">
                                <div class="jm-inner">
                                    <input type="text" placeholder="Введите запрос" name="search">
                                </div>
                            </div>

                            <div class="span-3 last">
                                <div class="jm-inner">
                                    <button type="button">Поиск</button>
                                </div>
                            </div>

                            <div class="clear"></div>

                        </form>
                    </div>

                    <div id="jm-pre-user" class="span-7 prepend-1 last">

                        <div class="left" style="margin-right: 10px;">
                            <img src="assets/images/1x1.png" width="50" height="50">
                        </div>

                        <table class="span-5 last">
                            <tr>
                                <td colspan="2">Добро пожаловать, гость</td>
                            </tr>
                            <tr>
                                <td><a href="#">Вход</a></td>
                                <td><a href="#">Регистрация</a></td>
                            </tr>
                        </table>

                    </div>

                    <div class="clear"></div>

                </div>

                <div>&nbsp;</div>

            </div>

        </div>

        <div class="container">

            <div class="append-bottom">

                <div class="append-bottom">
                    <div class="jm-light">

                        <ul class="jm-menu">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Бизнес</a></li>
                            <li><a href="#">Спорт</a></li>
                            <li><a href="#">Экономика</a></li>
                            <li><a href="#">Культура</a></li>
                            <li><a href="#">Общество</a></li>
                            <li><a href="#">Мода</a></li>
                            <li><a href="#">Кино</a></li>
                        </ul>
                        <div class="clear"></div>

                    </div>

                    <div class="jm-dark">

                        <ul class="jm-menu">
                            <li><a href="#">Блоги</a></li>
                            <li><a href="#">Популярное</a></li>
                            <li><a href="#">Обзоры</a></li>
                            <li><a href="#">Главное за день</a></li>
                            <li><a href="#">Записи</a></li>
                            <li><a href="#">На дороге</a></li>
                        </ul>
                        <div class="clear"></div>

                    </div>
                </div>

                <div class="span-18">

                    <div class="span-12">

                        <div id="jm-main-news" class="append-bottom">
                            <img src="assets/images/1x1.png" width="470" height="310">
                            <div class="jm-description">
                                <div class="jm-inner">
                                    <strong class="clearfix">Мировая примьера: Хоббит: туда и обратно</strong>
                                    <span>Как все начиналось</span>
                                </div>
                            </div>
                        </div>

                        <div class="append-bottom">

                            <h2>Главное за день <span><a href="#">неделю</a></span></h2>

                            <div class="span-4">
                                <img src="assets/images/1x1.png" width="150" height="150">
                                <a href="#">Налоговики не смогут проверить всех пользователей WebMoney - юрист</a>
                            </div>
                            <div class="span-4">
                                <img src="assets/images/1x1.png" width="150" height="150">
                                <a href="#">С 1 июля заработает новая система регистрации бизнеса</a>
                            </div>
                            <div class="span-4 last">
                                <img src="assets/images/1x1.png" width="150" height="150">
                                <a href="#">Apple просит пустить iPad и iPhone в США</a>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="append-bottom">
                            <h2>Интервью <span><a href="#">все интервью</a></span></h2>

                            <div class="span-6">
                                <img src="assets/images/1x1.png" width="230" height="150">
                                <h6>Алексей Борисович Миллер</h6>
                                <a href="#">Как все развивалось</a>
                            </div>

                            <div class="span-6 last">
                                <img src="assets/images/1x1.png" width="230" height="150">
                                <h6>Алексей Борисович Миллер</h6>
                                <a href="#">Как все развивалось</a>
                            </div>

                            <div class="clear"></div>
                        </div>

                        <img src="assets/images/1x1.png" width="470" height="150" class="append-bottom">

                        <div id="jm-blogs-and-reviews">

                            <div class="span-6">
                                <h2>Блоги <span><a href="#">все записи</a></span></h2>

                                <div class="jm-item">
                                    <div class="jm-top">
                                        <strong>Lindie</strong> <span>28 июня</span> <a href="#">17</a>
                                    </div>
                                    <div>
                                        <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                    </div>
                                </div>

                                <div class="jm-item">
                                    <div class="jm-top">
                                        <strong>Lindie</strong> <span>28 июня</span> <a href="#">17</a>
                                    </div>
                                    <div>
                                        <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                    </div>
                                </div>

                                <div class="jm-item">
                                    <div class="jm-top">
                                        <strong>Lindie</strong> <span>28 июня</span> <a href="#">17</a>
                                    </div>
                                    <div>
                                        <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                    </div>
                                </div>

                                <div class="jm-item">
                                    <div class="jm-top">
                                        <strong>Lindie</strong> <span>28 июня</span> <a href="#">17</a>
                                    </div>
                                    <div>
                                        <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                    </div>
                                </div>

                                <div class="jm-item">
                                    <div class="jm-top">
                                        <strong>Lindie</strong> <span>28 июня</span> <a href="#">17</a>
                                    </div>
                                    <div>
                                        <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                    </div>
                                </div>

                            </div>

                            <div class="span-6 last">

                                <h2>Обзоры <span><a href="#">все записи</a></span></h2>

                                <div class="jm-item">
                                    <span class="jm-top jm-date clearfix">28 июня</span>
                                    <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                </div>

                                <div class="jm-item">
                                    <span class="jm-top jm-date clearfix">28 июня</span>
                                    <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                </div>

                                <div class="jm-item">
                                    <span class="jm-top jm-date clearfix">28 июня</span>
                                    <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                </div>

                                <div class="jm-item">
                                    <span class="jm-top jm-date clearfix">28 июня</span>
                                    <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                </div>

                                <div class="jm-item">
                                    <span class="jm-top jm-date clearfix">28 июня</span>
                                    <a href="#">Украина заняла 13 место в рейтинге самых порочных стран мира</a>
                                </div>

                            </div>

                            <div class="clear"></div>

                        </div>

                    </div>

                    <div id="jm-rss" class="span-6 last">

                        <div class="jm-header jm-light append-bottom">
                            <div class="jm-inner">
                                <a href="#" class="right">Лента новостей</a>
                                <a href="#">RSS</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item jm-last">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="append-bottom">
                            <h2>Видео <span><a href="#">все записи</a></span></h2>

                            <img src="assets/images/1x1.png" width="230" height="100">

                            <div class="span-2">
                                <img src="assets/images/1x1.png" width="70" height="75">
                            </div>
                            <div class="span-2">
                                <img src="assets/images/1x1.png" width="70" height="75">
                            </div>
                            <div class="span-2 last">
                                <img src="assets/images/1x1.png" width="70" height="75">
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="jm-header jm-light append-bottom">
                            <div class="jm-inner">
                                <a href="#" class="right">Лента новостей</a>
                                <a href="#">RSS</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                        <div class="jm-item jm-last">
                            <div class="jm-top">
                                <strong>01.01.2013</strong> <span>52 Комментариев</span>
                            </div>
                            <div class="jm-name">
                                <a href="#">Европейци назвали главные достижения Старого света</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div id="jm-same" class="span-6 last">
                    <div class="jm-light append-bottom">
                        <div class="jm-header">Cпорт</div>
                    </div>

                    <div class="jm-hot append-bottom">
                        <img src="assets/images/1x1.png" width="230" height="75">
                        <a href="#">Русский топ клуб начнет сезон с минусом в графе "очки"</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="jm-light append-bottom">
                        <div class="jm-header">Бизнес</div>
                    </div>

                    <div class="jm-hot append-bottom">
                        <img src="assets/images/1x1.png" width="230" height="75">
                        <a href="#">Русский топ клуб начнет сезон с минусом в графе "очки"</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="jm-light append-bottom">
                        <div class="jm-header">Экономика</div>
                    </div>

                    <div class="jm-hot append-bottom">
                        <img src="assets/images/1x1.png" width="230" height="75">
                        <a href="#">Русский топ клуб начнет сезон с минусом в графе "очки"</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="jm-light append-bottom">
                        <div class="jm-header">Мода</div>
                    </div>

                    <div class="jm-hot append-bottom">
                        <img src="assets/images/1x1.png" width="230" height="75">
                        <a href="#">Русский топ клуб начнет сезон с минусом в графе "очки"</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                    <div class="append-bottom">
                        <strong class="clearfix">01.01.2013</strong>
                        <a href="#">Исход матча Испания-Италия решила драматичная серия пенальти</a>
                    </div>

                </div>

                <div class="clear"></div>

            </div>

            <div id="jm-footer" class="jm-dark">

                <div class="span-6 append-1">
                    <div class="inner">
                        <h3>Bila.Tserkva.Info</h3>
                        <ul>
                            <li><a href="#">Реклама</a></li>
                            <li><a href="#">Обратная связь</a></li>
                            <li><a href="#">Архив</a></li>
                            <li><a href="#">Подписки</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span-6 append-2">
                    <div class="inner">
                        <h3>Разделы</h3>
                        <div class="span-3">
                            <ul>
                                <li><a href="#">Главная</a></li>
                                <li><a href="#">Бизнес</a></li>
                                <li><a href="#">Спорт</a></li>
                                <li><a href="#">Экономика</a></li>
                            </ul>
                        </div>
                        <div class="span-2 last">
                            <ul>
                                <li><a href="#">Культура</a></li>
                                <li><a href="#">Общество</a></li>
                                <li><a href="#">Мода</a></li>
                                <li><a href="#">Кино</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span-6">
                    <div class="inner">
                        <h3>Технический</h3>
                        <ul>
                            <li><a href="#">Мобильная версия</a></li>
                            <li><a href="#">Планшетная версия</a></li>
                            <li><a href="#">Эксключив RSS</a></li>
                            <li><a href="#">В закладки</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span-4 last"></div>
                <div class="clear"></div>

                <div class="inner">
                    &copy; Редакция не несет ответственности за содержание и достоверность материалов, публикуемых на правах рекламы.<br/>
                    При воспроизведении материалов гиперссылка на ресурс обязательна. 
                </div>

            </div>

        </div>

    </body>
</html>
